@import url(https://fonts.googleapis.com/css?family=Merriweather);

body{
    background-color: #d9d9d9
}

.title{
    margin: 10% auto auto auto;
    text-align:center;
    font-family: Merriweather;
}

.search_bar{
    padding:10px;
}



